.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}

.pageContainer {
  max-width: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, #cc25b3 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.main {
  width: 500px;
  max-width: 90vw;
  min-height: 400px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  margin-top: 48px;
}

.collectionContainer {
  width: 1200px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.nftBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 19%;
  min-height: 200px;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.detailPageContainer {
  max-width: 800px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.lightPurple {
  color: #e011a7;
}

.nftMedia {
  width: 100%;
  max-height: 300px;
  border-radius: 15px;
}

.noGapBottom {
  margin-bottom: 0px;
}
